@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=SUSE:wght@100..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body{
  color: #3b3b3b;
  overflow-x: hidden !important;
  font-family: "SUSE", sans-serif;
}
.main__loader{
  display: none;
}

.main__content{
  opacity: 0;
}

.header__row{
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #000000;
}

.logo img{
  width: 70px;
}

.navbar{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  padding: 6rem 2rem;
  gap: 2rem;
  position: absolute;
  height: 70.1dvh;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #000000;
  transition: 1s;
  transform: translateX(-150%);
  z-index: 111111;

}
.navbar.active{
  transform: translateX(0%);
}

.nav__items{
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 23px;
  border-bottom: 1px solid #636363;
  padding:0 5px 5px 0;
}
.open, .close{
  margin-top: 5px;
  font-size: 2rem;
  cursor: pointer;
  color: #3b3b3b;
  z-index: 111111111;
}
.close{
  position: relative;
  color: #fff !important;
}
.btn__explore{
  height: 30vh;
  position: absolute;
  width: 100%;
  background-color: #000000;
  left: 0;
  bottom: 0;
  transform: translateX(-300%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;


  z-index: 11111111;
}
.btn__explore.active{
  transform: translateX(0%);

}
.btn__explore button{
  padding: 15px 40px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color:  #DDDBCB;
  color: #000000;
}

/* ---------------------------------------------------------*/
/* ------------------ end header section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start hero --------------------------*/
/* ---------------------------------------------------------*/

.hero{
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  position: relative;
}
/* .hero__part__first{
  overflow: hidden;
} */

.hero__content{
  margin: 2rem 0;
}
.hero__slogan{
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}
.hero__slogan h1 {
  margin-top: 1rem;
  font-family: "Libre Bodoni", system-ui;
  text-transform: uppercase;
  font-style: italic;
  font-size: 38px;
}
.color__last__word{
  color: #000000;
}
.mini__slogan{
  font-style: italic;
  color: #000000;
}

.header__p{
  margin-top: 2rem;
  line-height: 25px;
  font-size: 16px;
  color: #3b3b3b;

}
.btn{
  padding: 17px 65px;
  margin-top: 2rem;
  background-color: #000000;
  color: #fff;
  border: none;
  /* border-radius: 30px; */
  outline: none;
  font-size: 1.2rem;
  
}
.hero__img{
  margin-top: 2rem;
}
.hero__img__ambrella{
  width: 100%;
  opacity: 0;
  transform: translateX(150px);
}


/* ---------------------------------------------------------*/
/* ------------------ end HERO section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start About --------------------------*/
/* ---------------------------------------------------------*/

.main__about{
  margin: 5rem 0;

}

.top__img{
  width: 100%;
}
.bottom__img{
  width: 100%;
}
.about{
  margin-top: -10px;
  padding: 2rem 0 4rem 0;
  width: 100%;
  background-color: #edf0f5;
  position: relative;
}

.about__content{
  max-width: 90%;
  margin: auto;
}
.about__img{
  margin-top: 2rem;
}
.img__pool{
  width: 100%;
}
.exp{
  margin-top: -5px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem ;
  color: #fff;
  font-size: 22px;
}
.about__text{
  margin-top: 2rem;
}

.about__head{
  font-size: 40px;
  transform: translateX(150px);
  opacity: 0;
}

.about__text p{
  margin-top: 1rem;
  line-height: 25px;
}

.decor__img__two, .about__decors{
  display: none;
}

/* ---------------------------------------------------------*/
/* ------------------ end about section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start chalange --------------------------*/
/* ---------------------------------------------------------*/

.chalange{
  max-width: 90%;
  margin: auto;
}

.chalange__text h4{
  font-size: 40px;
  text-align: center;
  transform: translateX(-150px);
  opacity: 0;
}
.chalange__text p{
  margin-top: 2rem;
  line-height: 25px;
  text-align: center;
}


.chalange-numbers{
  text-align: center;
}
.chalange__list{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;

}
.number{
  background-color: #000000;
  display: inline-block;
  width: 120px;
  height: 110px;
  color: #fff;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45% 55% 70% 35% / 45% 45% 55% 45%;
}


.chalange__list div h5{
  font-size: 23px;
  margin-top: 1rem;
}
.chalange__list div p{
  font-size: 16px;
  margin-top: 1rem;
}

.chalange__decors{
  display: none;
}

/* ---------------------------------------------------------*/
/* ------------------ end challange section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start rooms --------------------------*/
/* ---------------------------------------------------------*/

.rooms{
  margin: 7rem 0 5rem 0;
}

.rooms__text{
  text-align: center;
  max-width: 90%;
  margin: auto;
}
.rooms__text h4{
  font-size: 40px;
  transform: translateX(-150px);
}
.rooms__text p{
  margin-top: 1.5rem;
  font-size: 16px;
}


.items{
  padding: 3rem 0;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, 1fr);
}

.item__box{
  position: relative;
}
.item{
  height: 400px;

}
.item-1{
  background: linear-gradient(#00000010, #00000033), url(./assets/1.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item-2{
  background: linear-gradient(#00000010, #00000033), url(./assets/2.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item__box__3{
  background: linear-gradient(#00000010, #00000033), url(./assets/3.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3 / 5;
  /* grid-column: 1 / 1; */
}
.item-4{
  background: linear-gradient(#00000010, #00000033), url(./assets/4.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-5{
  background: linear-gradient(#00000010, #00000033), url(./assets/5.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}


.room__price{
  width: 84%;
  margin: auto;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 0 2rem;

  position: absolute;
  bottom: 2rem; 
  left: 8%;
}

.room__price::before{
  content: '';
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin-top: -90px;
  position: absolute;
  right: 0;
  background:linear-gradient(45deg,#00000000 50%,#fff 50%);
  rotate: 90deg;
}

.room__price p{
  color: #636363;
}
.room__price p span{
  color: #000000;
}

.room__price h5{
  font-size: 25px;
}
/* 
.more__description{
  display: none;
} */

.item__box{
  overflow: hidden;
}

.more__description{
  display: inline-block;
  transform: translateY(-800px);

  position: absolute;
  background-color: #fff;
  width: 84%;
  left: 8%;
  bottom: 2rem;
  padding: 20px; 
  transition: .5s;
}
.more__description h5{
  font-size: 25px;
}
.price__star{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.stars div{
  color: black;
}
.price__star p{
  font-size: 16px;
}
.price__star div{
  display: flex;
}

.price-p{
  margin-top: 2rem;
}




.item__box:hover .more__description{
  transform: translateY(0px);
  transition: .5s;
}
.item__box:hover .room__price{
  transform: translateY(200px);
  transition: .5s;
}

/* ---------------------------------------------------------*/
/* ------------------ end rooms section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start offers --------------------------*/
/* ---------------------------------------------------------*/

.offers{
  max-width: 90%;
  margin: 4rem auto;
}

.offers__text{
  text-align: center;
}

.offers__text h4{
  font-size: 40px;
  transform: translateX(-150px);

}

.offers__text p{
  margin-top: 1.5rem;
}
.offers__item{
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.percentage{
  border-radius: 45% 55% 70% 35% / 45% 45% 55% 45%;
  width: 120px;
  height: 110px;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.671)), url(./assets/featured-image-5.jpg) center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 26px;
}

.offer__object div{
  margin-top: 1rem;
}
.offer__object div span{
  color: #000000;
}

.offer__object h5{
  margin-top: 1rem;
  font-size: 22px;
}

.offer__object p{
  margin-top: 0.5rem;
}



.img__2{
  width: 100%;
}

.absolute__tri{display: none;}


.mobile__off{
  display: none;
}


/* ---------------------------------------------------------*/
/* ------------------ end offer section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start update --------------------------*/
/* ---------------------------------------------------------*/

.update__content{
  margin-top: -10px;
  background-color: #edf0f5;
}

.update__objects{
  max-width: 90%;
  margin: auto;
  padding-bottom: 3rem;
  position: relative;
}

.update__text{
  padding-top: 3rem;
  text-align: center
}

.update__text h4{
  font-size: 40px;
  transform: translateX(-150px);

}
.update__text p{
  margin-top: 1.5rem;
}

.updates__items{
  margin-top: 2.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item__obj img{
  width: 100%;
}
.item__obj p{
  margin-top: 1rem;
}

.item__obj h5{
  margin-top: 0.5rem;
  font-size: 28px;
  cursor: pointer;
  transition: .5s;
  
}

.item__obj h5:hover{
  text-decoration: underline;
}

.vector{
  font-size: 35px;
  transition: .5s;
  cursor: pointer;
  color: #000000;
  display: inline-block
}


/* ---------------------------------------------------------*/
/* ------------------ end update section ----------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------   start footer --------------------------*/
/* ---------------------------------------------------------*/


.footer{
  background-color: #000000;
  width: 100%;
  padding: 7rem 0;
  position: relative;
}

.footer__content{
  max-width: 90%;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  text-align: center;
}

.f__logo{
  width: 250px;
  margin-bottom: 1rem;
}

.footer__content h4{
  font-size: 25px;
  color: #edf0f5;
}


.footer__menu{
  margin-top: 1rem;
  display: grid;
  gap: 10px;
}

.footer_items{
  color: #636363;
  font-size: 17px;
}

.contact__f{
  margin-top: 1rem;
  display: grid;
  gap: 10px;
  font-size: 17px;
}

.icons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newslatter__f {
  margin-top: 1rem;
}

.newslatter__f p{
  font-size: 17px;
}

.newslatter__f form{
  margin-top: 1rem;
  width: 100%;
}

.input__email{
  width: 100%;
  padding: 20px 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #636363;
  outline: none;
}

.btn__f{
  background-color: #3b3b3b;
}